<section>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-primary text-center" role="alert">
        <h4>Ingresar cliente</h4>
        <hr>
        <form [formGroup]="createform" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-1">
                <label>Nombre:</label>
              </div>
              <div class="col-md-3">
                <input class="form-control" aria-describedby="emailHelp" placeholder="Ingrese nombre" id="nombre" formControlName="nombre" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-1">
                <label>Rut:</label>
              </div>
              <div class="col-md-3">
                <input class="form-control" aria-describedby="emailHelp" placeholder="Ingrese rut" id="rut" formControlName="rut" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-1">
                <label>Auto:</label>
              </div>
              <div class="col-md-3">
                <select class="custom-select form-group" id="auto" formControlName="auto">
                  <option selected>Menu de autos</option>
                  <option *ngFor="let auto of Autos">
                    {{auto.marca}} {{auto.modelo}}
                  </option>
                </select>
                <button class="btn btn-outline-primary" type="submit">Ingresar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="alert alert-dark text-center">
    <h4>Editar y borrar clientes</h4>
    <hr>
    <div class="row">
      <div class="col-12">
        <table class="table" style="width:100%">
          <thead class="thead-dark">
          <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Accion</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cliente of clientes">
            <th>{{cliente.rut}}</th>
            <th>{{cliente.nombre}}</th>
            <th>
              <a type="button" class="btn btn-primary" onclick="" >Editar</a>
              <a type="button" class="btn btn-danger" (click)="onDelete($event,cliente.id_cliente)">Borrar</a>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
